.category-icon {
  width: 56px;
  height: 56px;
  border-radius: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  &__text {
    font-size: 22px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #fff;
  }
}
